@import '~antd-mobile/lib/style/themes/default.less';

@size: 150px;

.paper {
	position: relative;
	box-sizing: border-box;
	background: #fff;
	padding: 9px 15px;
	border-radius: 8px;
	box-shadow: 0px 1px 10px 0px #f2f2f2;
	border: 1PX solid @border-color-base;
	border-radius: @radius-md;
}

.paper-color-pink {
	background: #eb2f96;
}

.paper-color-red {
	background: #f5222d;
}

.paper-color-yellow {
	background: #fadb14;
}

.paper-color-orange {
	background: #fa8c16;
}

.paper-color-cyan {
	background: #13c2c2;
}

.paper-color-green {
	background: #52c41a;
}

.paper-color-blue {
	background: #1890ff;
}

.paper-color-purple {
	background: #722ed1;
}

.paper-color-geekblue {
	background: #2f54eb;
}

.paper-color-magenta {
	background: #eb2f96;
}

.paper-color-volcano {
	background: #fa541c;
}

.paper-color-gold {
	background: #faad14;
}

.paper-color-lime {
	background: #a0d911;
}

.icon {
	position: absolute;
	left: 50%;
	top: -@size / 2;
	margin-left: -@size / 2;
	width: @size;
	height: @size;
}
